{% load django_bootstrap5 %}

<!doctype html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body>

    <div class="container">
      <h1>배민</h1>

      {# 자식 템플릿이 비집고 들어올 수 있는 공간 #}
      {# 자식 템플릿은 부모 템플릿의 구성을 변경할 수 없어요. #}
      {# 자식 템플릿의 부모 템플릿의 block 영역만 재정의할 수 있습니다. #}
      {# 부모는 다수의 block의 정의할 수 있습니다. #}
      {% block content %}{% endblock %}

      <hr/>
      &copy; 2025. 김유미 컴퍼니.
    </div>
    {# 자식 템플릿은 비집고 들어올 수 있는 공간 #}

    <hr/>
  </div>

</body>

</html>