{% extends "baemin/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <h2>{{ shop.name }}</h2>

  {{ shop.description }}

  <hr/>

  <a href="/baemin/">목록으로</a>
  <a href="/baemin/{{ shop.pk }}/reviews/new/">리뷰 쓰기</a>

  <h3>리뷰 목록</h3>

  {% for review in review_list %}
    <div class="review-wrap">
      {{ review.content }}
      ({{ review.rating }})

      {# a태그를 바로 작성하지 않고, URL을 먼저 작성하는 이유는 #}
      {# 대개, URL 작성에서 오류가 발생하시는 분들이 많습니다. 인자 지정에 오타 등의 이유. #}
      <a href="/baemin/{{ shop.pk }}/reviews/{{ review.pk }}/edit/">
        Edit
      </a>
      <a href="/baemin/{{ shop.pk }}/reviews/{{ review.pk }}/delete/" class="btn-review-delete text-danger">
        Delete
      </a>
    </div>
    {% empty %}
    <div>등록된 리뷰가 없습니다. :-(</div>
  {% endfor %}

  {% csrf_token %}
  <script>
    const csrf_token = document
      .querySelector("[name=csrfmiddlewaretoken]")
      .value;

    const reviewWrapList = document.querySelectorAll(".review-wrap");
    /* for el in reviewWrapList */
    reviewWrapList.forEach((wrapEl) => {
      console.log("wrapEl :", wrapEl);
      const deleteBtnEl = wrapEl.querySelector(".btn-review-delete");

      console.log("deleteBtnEl.href :", deleteBtnEl.href);

      // deleteBtnEl;  <a> 요소를 클릭했을 때의 기본 동작은 지정 href 주소로 페이지 이동
      deleteBtnEl.addEventListener("click", async function (event) {
        event.preventDefault(); // 현재 이벤트 발생 요소의 기본 동작을 취소합니다.

        // click에 대한 이벤트 리스너 (event listener)
        // console.log('clicked :', event);

        if (confirm("정말 삭제하시겠습니까?")) {
          // 유저가 OK(확인)했다면?
          // 지정 주소로 POST 요청을 보냅니다. (삭제 요청)
          const res = await fetch(deleteBtnEl.href, {
            method: "POST",
            headers: {
              "X-CSRFToken": csrf_token
            }
          }); // Promise 객체
          console.log("res :", res);
          // TODO: 삭제됨 응답을 받으면, window.location.reload(); 새로고침을 해도 되고.
          // JS로 지정 wrapEl을 delete해도 됩니다.
          wrapEl.remove();
        }
      });
    });
  </script>
{% endblock %}