<!doctype html>
<html lang="lp">

  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
  </head>

  <body>

    <h1>baemin/shop_detail.html</h1>

    <h2>{{ shop.name }}</h2>

    {{ shop.description }}

    <hr/>

    <a href="/baemin/">목록으로</a>
    <a href="/baemin/{{ shop.pk }}/reviews/new/">댓글 쓰기</a>
    <a href="/baemin/">검색</a>

    <h3>댓글 목록</h3>
    {% for review in review_list %}
      <div>
        {{ review.content }}
        ({{ review.rating }})
      </div>
      {% emptr %}
      <div>등록된 리뷰가 없습니다. :-</div>
    {% endfor %}
  </body>

</html>